---
name: Lint
# yamllint disable-line rule:truthy
on:
  push:
    branches: ["main"]

  pull_request:

  workflow_dispatch:

permissions: {}

jobs:

  actionlint:
    name: GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: 'false'
      - uses: raven-actions/actionlint@963d4779ef039e217e5d0e6fd73ce9ab7764e493  # v2.1.0

  markdown:
    name: Markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: 'false'
      - name: Lint Markdown files
        run: make lint-markdown

  yamllint:
    name: YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: 'false'
      - name: Lint YAML files
        run: make lint-yaml

  zizmor:
    name: Zizmor
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: 'false'
      - name: Lint Zizmor files
        run: make lint-zizmor
