---
name: Release Alloy CRD Helm chart
# yamllint disable-line rule:truthy
on:
  workflow_dispatch:

jobs:
  release:
    uses: grafana/helm-charts/.github/workflows/update-helm-repo.yaml@9ddb81243bfc8aea3bf3d0a9954451d407cee1c6
    permissions:
      contents: write
      id-token: write
      packages: write
    with:
      charts_dir: charts
      cr_configfile: cr.yaml
      ct_configfile: charts/alloy-crd/ct.yaml
    secrets:
      vault_repo_secret_name: github-app
